$text-black: #27272B;
$dark-white: #DADADA;
$bright-white: #FFFFFF;
$button-white: #F9F9F9;

$background-white: #EFEFEF;

$accent: #72D8C6;
$warning: #f94f4f;
$primary: #243142;

$sans-serif: 'Montserrat', sans-serif;
$serif: 'Lora', serif;
$monospaced: 'Inconsolata', monospace;
