<div class="main">
  <mat-grid-list cols="4">
    <div class="container">
      <div *ngFor="let board of allBoards">
      <mat-card class="board-card">
        <mat-card-title class="board-name h2__kt" [style.background-color]="board.boardColor != 'null' ? board.boardColor : '#146072'">
          {{ board.boardName }}
          <!--<button mat-icon-button [matMenuTriggerFor]="moreMenu">-->
            <!--<mat-icon class="more-icon">more_horiz</mat-icon>-->
          <!--</button>-->
          <!--<mat-menu #moreMenu="matMenu">-->
            <!--<ng-template matMenuContent>-->
              <!--<button mat-menu-item>Edit</button>-->
              <!--<button mat-menu-item>Delete</button>-->
            <!--</ng-template>-->
          <!--</mat-menu>-->
        </mat-card-title>
        <mat-card-content class="board-content">
          <div  *ngFor="let note of allNotes">
            <mat-card class="note-card" *ngIf="note.boardId == board.boardId">
              {{note.noteName}}
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
  </mat-grid-list>
</div>
