@import "../../../styles/variables";

.p_delete{
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.confirm-dialog{
  height: 12vh;
  width: 21vw;
  padding: 2vh 1vw;
}

.confirm-btn-group{
  float: right;
  margin-top: 2vh;
}

.confirm-button{
  margin-right: 1vw;
}

#confirm-content.mat-dialog-content{
  height: 20vh !important;
  width: 23vw !important;
}
